.app-header {
  background-color: #1a1a1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  color: #ffffff;
  height: 55px;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* gap: 2px; */
}

.app-logo {
  height: 80px;
  width: auto;
}

.app-title {
  font-size: 24px;
  font-weight: 600;
  /* padding-right: -5px;
  text-decoration: none;
  color: #ffffff; */
  background: linear-gradient(
    to right,
    #00ff00 30%,
    /* Orange-Red */ #007bff 65%
  );
  background-clip: text; /* Standard property */
  -webkit-background-clip: text; /* WebKit-specific */
  -webkit-text-fill-color: transparent;
}

.app-header-nav {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.app-header-nav a {
  color: #ffffff;
  text-decoration: none;
}

.app-header-nav a:hover {
  color: #007bff;
}

.app-header-user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.avatar {
  transition: filter 0.3s ease, transform 0.3s ease !important;
}

.avatar:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  cursor: pointer !important;
}

.avatar img {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.app-header-user-icon:hover {
  /* background-color: rgba(255, 255, 255, 0.1) !important; */
  cursor: pointer !important;
  transform: scale(1.07) !important;
}
