.follow-actions {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.follow-actions:disabled {
  color: #ffffff !important;
}

.follow-btn,
.unfollow-btn {
  padding: 6px 16px;
  border-radius: 5px;
  font-size: 14px;
  width: 100px;
}

.follow-btn {
  background-color: #1890ff;
  border-color: #1890ff;
  color: white;
}

.follow-btn:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.unfollow-btn {
  background-color: #32a284;
  border-color: #32a284;
  color: #32a284;
}

.unfollow-btn:hover {
  border-color: #28a078 !important;
  color: #28a078 !important;
}

.followers-count {
  font-size: 14px;
  color: #cfcfcf;
}

.counts-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.count-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  font-size: 18px;
  font-weight: bold;
  color: #5baff8;
}

.text {
  font-size: 14px;
}

.modal-search {
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 10px;
}

.modal-item {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
  gap: 5px;
}

.modal-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.modal-followers.ant-modal .ant-modal-content {
  background-color: #101012 !important;
  width: 380px;
}

.ant-modal-content .infinite-scroll-container {
  max-height: 500px !important;
  overflow: hidden !important;
}

.ant-modal-body .infinite-scroll-container {
  max-height: 500px !important;
  overflow-y: auto !important;
  /* padding: 0 16px !important; */
}

.modal-follow-btn {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  color: #ffffff !important;
  transition: background-color 0.2s, border-color 0.2s !important;
}

.modal-follow-btn:hover {
  background-color: #40a9ff !important;
  border-color: #40a9ff !important;
}

.modal-unfollow-btn {
  background-color: #28a078 !important;
  border-color: #28a078 !important;
  color: #32a284 !important;
  transition: background-color 0.2s, border-color 0.2s;
}

.modal-unfollow-btn:hover {
  background-color: #41edb4 !important;
  border-color: #41edb4 !important;
}

.ant-modal-title {
  background-color: #101012 !important;
}

.modal-username {
  color: #ffffff;
}

.ant-modal-title {
  color: #ffffff !important;
}

.anticon.anticon-close {
  color: #ffffff !important;
}

.ant-btn-variant-outlined:disabled {
  color: #969696 !important;
  border-color: #969696 !important;
}
