.settings-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #1a1a1d;
  margin-top: 100px;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.settings-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.avatar-header-txt {
  font-weight: 600;
}

.settings-section {
  margin-bottom: 20px;
}

.email-text {
  color: #e4e4e4d3 !important;
}

.avatar-display {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px !important;
}

/* .change-avatar-btn {
  margin-left: auto;
} */

.password-input {
  margin-bottom: 20px;
}

.error-text {
  color: #fb3030;
}
